{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container justify-content-center">
        <h1 style="font-width: bold;">{{ article.titre }}</h1>
        <h6>Publié le : {{ article.dateCreation ? article.dateCreation|date('Y-m-d') : '' }},
            Modifié le : {{ article.dateModification ? article.dateModification|date('Y-m-d') : '' }}</h6>
        <h5 style="margin-top: 50px; text-justify: distribute;">{{ article.contenu }}</h5>
    </div>


    {# commentaires form #}
    <div style="margin-top: 50px">


        <div class="card">
            <div class="card-body text-info">
                <h4 class="card-title">Ajouter un commentaire</h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% if app.user %}
                        {{ app.user.username }}
                    {% endif %}
                </h6>
                <textarea class="form-control w-50" id="textarea" rows="3"></textarea>
                <input type="hidden" name="id" value="<?= $article['id'] ?>" />
                <button type="button" class="btn btn-info">Commenter</button>
            </div>
        </div>
    </div>
{% endblock %}
